Repository alphaolomi/react-nanasi, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, test, core, style, story, TypeScript

chore(deps): update dependency typescript to v4
  example/package.json
Labels: none

chore(deps): update dependency @types/react-dom to v17
  example/package.json
Labels: none

chore(deps): update actions/setup-node action to v2
  .github/workflows/main.yml
Labels: none

fix(deps): update dependency react-app-polyfill to v3
  example/package.json
Labels: none

chore(deps): update dependency typescript to v4
  example/package.json
Labels: none

chore(deps): update dependency @types/react-dom to v17
  example/package.json
Labels: none

chore(deps): update dependency @types/react to v17
  example/package.json
Labels: none

chore(deps): update actions/setup-node action to v2
  .github/workflows/main.yml
Labels: none

chore(deps): update dependency parcel to v2
  example/package.json
Labels: none

feat: change to span
  src/index.tsx
Labels: core

chore(deps): update dependency parcel to v2
  example/package.json
Labels: none

chore(deps): update dependency @types/react to v17
  example/package.json
Labels: none

docs:(readme) add badges
  README.md
Labels: none

docs:(readme) add badges
  README.md
Labels: none

ci: 🎡 add github pages
  package.json
  yarn.lock
Labels: dependencies

docs: ✏️ update readme
  .vscode/settings.json
  README.md
  package.json
Labels: none

.github/labeler.yml:

dependencies:
  - yarn.lock

test:
  - src/test/**/*
  - src/types/tests/**/*

core:
  - src/**/*

style:
  - src/css/**/*

story:
  - .storybook/*
  - stories/*

TypeScript:
  - types/**/*
